body {
  background-color: gray;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.text {
  display: table-cell;
  vertical-align: middle;
  border-right: 0.05em solid black;
  animation: cursor 0.5s infinite;
}
